<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Listagem de produtos</title>
</head>

<body>
    <br>
     
    <br>
    <div class="container">

        <form class="d-flex gap-1 align-items-center" action="{% url 'listar_produtos' %}" method="GET">
            <label for="">Nome</label>
            <input type="text" name="nome">
            <br><br>
            <input class="btn btn-primary" type="submit" value="Filtrar">
            <a class="btn btn-secondary" href="http://127.0.0.1:8000/estoque/cadastrar_produto/">Voltar</a>
        </form>

        <table class="table">
            <thead>
              <tr>
                <th scope="col">Nome</th>
                <th scope="col">Preço</th>
                <th scope="col">Validade</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Excluir</th>
              </tr>
            </thead>

            <tbody>
                {% for p in produtos %}
                    <tr>
                        <th scope="row">{{p.nome}}</th>
                        <td>{{p.preco}}</td>
                        <td>{{p.validade}}</td>
                        <td>{{p.quantidade}}</td>
                        <td><a class="btn btn-danger" href="{% url 'deletar_produto' p.id %}">Excluir</a></td>
                    </tr>
                {% endfor %}
            </tbody>
          </table>
          
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>

</html>